<footer class="Footer">
  <div class="u-wrapper">
    <div class="u-padding">
        <!-- TODO: move to params -->
        <a href="https://github.com/vanadium23"><i class="svg-icon github"></i></a>
        <a href="https://www.linkedin.com/in/vanadium23"><i class="svg-icon linkedin"></i></a>
        <a href="https://www.twitter.com/vanadium23"><i class="svg-icon twitter"></i></a>
        <a href="http://stackoverflow.com/users/4809450/vanadium23"><i class="svg-icon stackoverflow"></i></a>
        <a href="https://www.codewars.com/users/vanadium23"><i class="svg-icon codewars"></i></a>
        <a href="https://goodreads.com/vanadium23"><i class="svg-icon goodreads"></i></a>
        <a href="https://t.me/chernov_sharit"><i class="svg-icon telegram"></i></a>
    </div>
  </div>
</footer>