{{ define "preload" }}

{{ where .Pages "Type" "in" site.Params.mainSections | .Paginate | .Scratch.Set "paginator" }}
{{ range (.Scratch.Get "paginator").Pages }}
{{ with .Content }}{{ end }}
{{ .Scratch.Get "css" | $.Scratch.Set "css" }}
{{ .Scratch.Get "js" | $.Scratch.Set "js" }}
{{ end }}

{{ end }}

{{ define "main" }}

{{ range (.Scratch.Get "paginator").Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ .Summary }}
  {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Читать дальше</a>
  {{ end }}
</article>
{{ end }}
{{ .Scratch.Get "paginator" | partial "pagination.html" }}

{{ end }}